
.gallery{
    display: flex;/*תצוגת flex*/
    justify-content: center;/*מרכוז מגבחינת רוחב*/
    align-items: center;/*מרכוז מגבחינת גובה*/
    gap: 10px; 
}

.gallery img:hover {
    transform: scale(1.1);/*מגדיל את התמונה בעת ריחף*/
}

.comparison-table tr:hover{/*בדף היונקים*/
    transform: none;/*לא מגדיל את השורה*/
}

@media (max-width: 768px) {
    
    .gallery img {
        width: 45%;/*התמונה תופסת 45 אחזו מהמקום*/
        transition: transform 0.5s ease;
    }

    iframe {
        width: 100%;/*הסרטון תופס את כל הרוחב*/
        height: 315px;/*גובה קבוע לסרטון*/
    }
}

@media (max-width: 550px) {
    
    .gallery {
        display: flex;
        flex-direction: column; /* מסדר את התמונה והסרטון cבטור */
        gap: 25px; /* רווח בין התמונה לסרטון */
    }

    .gallery img{
        height: auto;
        width: 65%;
    }

    .gallery iframe {
        width: 100%; /*הסרטון תופס את כל הרוחב*/
        height: 250px; /*גובה מותאם למסך קטן*/
    }
}